html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
    color: white;
    font-size: 30px;
    border-radius: 5px;
    width: 100%;
    padding: 5px 5px;
    margin: 15px 15px;
}

.footer {
    text-align: center;
    padding: 10px;
    color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
}
footer {
    text-align: center;
    padding: 10px;
    color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
}
.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-radius: 8px;
    width: 50%;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
}

.button-text {
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
.button-container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    width: 80%;
    justify-content: space-around;
}

.data-control-button, .make-file-button, .control-word-button, .control-passage-button {
    width: 200px;
    height: 200px;
    color: black;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center-align text */
    transition: transform 0.3s, box-shadow 0.3s;
}

.data-control-button, .make-file-button {
    background-size: cover;
}

.data-control-button:hover, .make-file-button:hover, .control-word-button:hover, .control-passage-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.data-control-button {
    background-image: url('image1.png');
}

.make-file-button {
    background-image: url('image2.jpg');
}

.control-word-button {
    background: url('english_word.jpeg') center/cover no-repeat;
}

.control-passage-button {
    background: url('image3.jpg') center/cover no-repeat;
}
