/* General styling */
/* Styles for your list items, buttons, forms, etc. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    background-color: white;
    color: black;
    font-size: 30px;
    border-radius: 5px;
    width: 100%;
    max-width: 1180px;
    padding: 5px 5px;
    margin: 15px 15px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    width: 100%;
}

.list-group {
    list-style: none;
    padding: 0;
}

.list-group-item {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: #f9f9f9;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
    border: none;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.container {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0px 0px;
    padding: 0px 0px;
}

.left-panel {
    width: 20%;
    background-color: white;
    color: #333;
    border-radius: 5px;
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: auto;
    box-sizing: border-box;
}

.right-panel {
    flex: 1;
    margin: 5px 5px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.login-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.user-info {
    background-color: #B8D7FF;
    padding: 20px;
    border-radius: 10px;
}

.user-info h2 {
    margin-bottom: 20px;
}

.user-info h3{
    white-space:nowrap;
}

.user-info-buttons{
    display:flex;
    flex-direction: column;
}

.search-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.search-dropdown,
.search-input,
.search-button {
    margin-right: 10px;
}


/* 버튼 스타일 모음*/
.btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.quiz_button,
.teacher_button,
.write_button {
    width: 100%;
    margin-top: 10px;
}

.quiz_button button {
    width: 100%;
    padding-top: 100%;
    border-radius: 5px;
    background: url('english_word.jpeg') center/cover no-repeat;
    height: 60px; /* Set a fixed height for the button */
    cursor: pointer;
}

.teacher_button button{
    width: 100%;
    padding-top: 100%;
    border-radius: 5px;
    background: url('teacher.jpeg') center/cover no-repeat;
    height: 60px; /* Set a fixed height for the button */
    cursor: pointer;
}

#deleteButton {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    display: inline;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#deleteButton:hover {
    background-color: #FF6347;
}


/* Additional styling as needed */
