body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.header,
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.left-panel {
    flex: 0.25;
    padding: 20px;
    height: auto;
    overflow: hidden;
}

.login-form {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    height: 900px;
}

.right-panel {
    flex: 1;
    padding: 20px;
    height: auto;
    overflow: hidden;
}

.board-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    height: 900px;
}

.footer {
    margin-top: auto; /* Footer를 페이지 하단에 고정하기 위한 스타일 */
}
